@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --font-dark-grey: rgb(108, 108, 108);
  --spacing-left-right: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red !important; */
}

a,
button {
  all: unset;
}

body,
*::placeholder,
input {
  color: var(--font-dark-grey);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* ===========
    nav bar
  =========== */

.nav-bar {
  width: 100vw;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all 200ms ease;
}

.nav-bar.white-background {
  width: 100vw;
  max-width: 100%;
  color: var(--font-dark-grey);
  background-color: white;
  box-shadow: 0 0 5px 0 lightgrey;
}

/* horizontal nav bar */

.nav-horizontal {
  max-width: 1100px;
  width: 95%;
  padding: 30px 0 15px;
  margin: 0 auto;
  position: relative;
}

.nav-horizontal,
.nav-horizontal > ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-horizontal > ul > li {
  list-style: none;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 150ms ease;
}

.nav-horizontal > ul > li:hover {
  color: black;
  border-color: black;
}

.fa-bars,
.fa-cart-shopping {
  cursor: pointer;
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 200ms ease;
}

.fa-bars {
  font-size: 24px;
}

.fa-bars:hover,
.fa-cart-shopping:hover {
  color: black;
}

.cart-item-number {
  padding: 3px 6px 5px 7px;
  font-size: 13px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -16px;
  right: -15px;
  background-color: rgba(0, 112, 21, 0.883);
  color: white;
}

.nav-items.left,
.nav-items.right {
  width: 280px;
}

.store-name {
  font-size: 25px;
  cursor: pointer;
}

.shopping-cart-btn.text {
  width: 65px;
  text-align: center;
}

.nav-vertical {
  width: 300px;
  height: calc(100vh - 70px);
  padding: 40px 0;
  position: relative;
  background-color: transparent;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 5px 0 lightgrey;
  transform: translateX(-300px);
  transition: all 400ms ease;
}

.nav-vertical.show {
  transform: translateX(0);
}

.nav-vertical > ul > li {
  list-style: none;
  cursor: pointer;
  transition: all 150ms ease;
}

.nav-vertical > ul > li:hover {
  color: black;
  background-color: rgb(233, 233, 233);
}

/* change the size of a tag so that li is clickable */
.nav-vertical > ul > li > a {
  display: block;
  padding: 15px 50px;
}

#nav-search-form {
  margin: 0 50px;
  /* border: 1px solid red; */
}

.nav.search-products {
  padding-bottom: 8px;
  border: none;
  border-bottom: 2px solid lightgrey;
  margin-bottom: 20px;
  outline: none;
  font-size: 20px;
  opacity: 0.6;
  transition: all 200ms ease;
}

.nav.search-products::placeholder {
  opacity: 0.5;
}

.nav.search-products:hover,
.nav.search-products:focus,
.nav.search-products.active {
  opacity: 1;
}

.search-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.6;
  margin-left: -10px;
  transition: all 200ms ease;
}

.search-btn:hover{
  opacity: 1;
}

.search-btn > i {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =================
    shopping cart
   ================= */

.shopping-cart {
  width: 470px;
  height: calc(100vh - 70px);
  padding: 40px 30px;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 70px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 5px 0 lightgrey;
  transform: translateX(470px);
  transition: all 400ms ease;
}

.shopping-cart.show {
  transform: translateX(0);
}

.shopping-cart-items-container {
  font-size: 18px;
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.shopping-cart-item-container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart-item-container:first-of-type {
  padding-top: 0;
}

.shopping-cart-item-container > img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 10px;
}

.shopping-cart-item-info {
  width: 120px;
}

.shopping-cart-item-remove {
  font-weight: 300;
  padding-top: 10px;
  cursor: pointer;
  opacity: 0.6;
}

.shopping-cart-item-remove:hover {
  color: black;
  opacity: 1;
}

.shopping-cart-item-quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-minus,
.fa-plus {
  font-size: 13px;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.fa-minus:hover {
  color: lightgrey;
}

.fa-plus:hover {
  color: rgb(0, 198, 0);
}

.shopping-cart-item-quantity-amount {
  font-size: 16px;
  border: 1px solid lightgrey;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 1.7;
}

.sub-total {
  padding-top: 3px;
  width: 80px;
  text-align: right;
  padding-right: 5px;
}

.shopping-cart-total-container {
  padding: 20px 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid lightgrey;
}

.checkout-btn {
  font-size: 22px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(66, 110, 56);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: rgb(58, 96, 48);
}

/* =================
    footer
   ================= */

footer {
  width: 100vw;
  max-width: 100%;
  background-color: lightgrey;
  font-size: 18px;
  position: relative;
}

.footer-container {
  max-width: 1100px;
  width: 95%;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-lists-container {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-list-container > li {
  list-style: none;
  padding: 3px 0;
  font-weight: 300;
  cursor: pointer;
}

.footer-list-container > li:hover {
  color: black;
}

.social-media-icons {
  display: none;
}

.social-media-icons > i {
  cursor: pointer;
  transition: all 200ms ease;
}

.social-media-icons > i:hover {
  color: black;
}

.copyright {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
}

/* =====================================================
    homepage
   ===================================================== */

/* =================
    new collection
  ================== */

.new-collection-section {
  background-image: url(images/homepage-background.jpg);
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 0 55%;
  position: relative;
  filter: brightness(1.1);
}

.new-collection-text-container {
  position: absolute;
  top: 33%;
  right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-collection-title {
  font-size: 35px;
  margin-bottom: 30px;
  color: rgb(74, 74, 74);
}

.shop {
  font-size: 22px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--font-dark-grey);
  cursor: pointer;
  transition: all 200ms ease;
}

.shop:hover {
  color: black;
  border-color: black;
}

/* =========
    intro
   ========= */

.intro-section {
  width: 400px;
  text-align: center;
  padding: 150px 0 180px;
  margin: 0 auto;
  position: relative;
  line-height: 1.5;
}

.intro-section::after {
  content: '';
  width: 200px;
  height: 2px;
  background-color: var(--font-dark-grey);
  position: absolute;
  bottom: 150px;
  left: 100px;
}

/* ==============
    new arrivals
   ============== */

.new-arrivals-section {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.new-arrivals-title-row {
  display: flex;
  justify-content: space-between;
}

.new-arrivals-title {
  padding-bottom: 40px;
}

.new-arrivals-view-all {
  height: fit-content;
  font-weight: 300;
  opacity: 0.6;
  cursor: pointer;
  transition: all 200ms ease;
}

.new-arrivals-view-all:hover {
  opacity: 1;
}

.new-arrivals-container {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 250px));
  column-gap: 20px;
  row-gap: 40px;
  justify-content: space-between;
  overflow: hidden;
}

.new-arrival.product {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-arrival.product-image {
  width: 100%;
  height: 250px;
  position: relative;
}

.product-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 200ms ease;
}

.product-image:hover > img {
  filter: brightness(0.8);
}

.add-product-btn-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.fa-cart-plus,
.quantity-in-cart {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-cart-plus {
  background-color: white;
  color: rgba(0, 0, 0, 0.67);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 100ms ease;
}

.fa-cart-plus:hover {
  background-color: rgba(0, 0, 0, 0.67);
  color: white;
}

.quantity-in-cart {
  background-color: rgba(0, 0, 0, 0.67);
  color: white;
  margin-top: 10px;
  display: none;
}

.quantity-in-cart::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
  border-radius: 50%;
}

.quantity-in-cart.show {
  display: flex;
}

.product-image:hover > .add-product-btn-container > .fa-cart-plus {
  visibility: visible;
  opacity: 1;
}

.product-image:hover > .add-product-btn-container > .fa-cart-plus,
.product-image:hover > .add-product-btn-container > .quantity-in-cart {
  box-shadow: none;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-weight: 300;
}

/* =================
    our story
   ================= */

.our-story-section {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  padding: 160px 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.our-story-section > img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  flex-shrink: 0;
  object-position: 50% 52%;
}

.our-story-text-container {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.quote {
  padding-bottom: 30px;
}

.our-story {
  cursor: pointer;
  position: relative;
  opacity: 0.8;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--font-dark-grey);
  transition: all 200ms ease;
}

.our-story:hover {
  color: black;
  border-color: black;
  opacity: 1;
}

/* =================
    all collections
   ================= */

.all-collections-section {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto 120px;
}

.all-collections-title {
  padding-bottom: 40px;
}

.all-collections-container {
  width: 100%;
  display: grid;
  grid-template-columns:
    minmax(280px, 340px) minmax(90px, 120px) minmax(200px, 230px)
    minmax(200px, 250px);
  grid-template-rows: 170px 270px;
  gap: 20px;
}

.collection-container {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.collection-container:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.collection-container:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 1;
}

.collection-container:nth-child(3) {
  grid-column: 2 / 4;
  grid-row: 1;
  filter: brightness(1.1);
}

.collection-container:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  filter: brightness(0.98);
}

.collection-container:nth-child(5) {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.collection-container > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  transition: all 200ms ease;
}

.collection-container > a > img:hover {
  filter: brightness(0.8);
}

.collection-name {
  font-size: 20px;
  position: absolute;
}

.collection-container > a > img:hover + .collection-name {
  color: black;
  opacity: 0.8;
}

.collection-name.chairs {
  top: 40px;
  right: 80px;
}

.collection-name.sofas {
  top: 15px;
  left: 15px;
}

.collection-name.decor {
  top: 30px;
  left: 30px;
}

.collection-name.lighting {
  top: 25px;
  left: 30px;
}

.collection-name.mirror {
  top: 5%;
  right: 80px;
}

/* =====================================================
    shop page
   ===================================================== */

/* =================
    nav bar
   ================= */

.nav-bar.shop-page {
  position: sticky;
}

/* =================
    main
   ================= */

main.shop-page {
  max-width: 1100px;
  width: 95%;
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
}

/* =================
    sidebar
   ================= */

.sidebar {
  width: 200px;
  flex-shrink: 0;
}

.search-products {
  width: 160px;
  border: none;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 2px solid lightgrey;
  outline: none;
  font-weight: 300;
  font-size: 19px;
  transition: all 200ms ease;
}

.search-products::placeholder {
  opacity: 0.3;
  font-size: 19px;
}

.search-products:hover,
.search-products:focus,
.search-products.active {
  border-color: var(--font-dark-grey);
}

.search-products:focus::placeholder {
  opacity: 0.2;
}

.search-products.active {
  font-weight: 400;
}

.fa-xmark {
  display: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-products.active + .fa-xmark {
  display: inline;
  opacity: 0.6;
  margin-left: -32px;
  font-size: 16px;
  padding: 4px 7px;
}

.search-products.active + .fa-xmark:hover {
  opacity: 1;
  background-color: lightgrey;
}

.category-list > li {
  width: fit-content;
  list-style: none;
  font-weight: 300;
  padding: 3px 0;
  cursor: pointer;
  opacity: 0.6;
  /* transition: all 100ms ease; */
}

.category-list > li.active,
.category-list > li:hover {
  opacity: 1;
  font-weight: 400;
}

/* =================
    products
   ================= */

.products-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(210px, 270px));
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 50px;
}

.search-notice {
  font-size: 22px;
  white-space: nowrap;
}

.search-no-results-advice {
  font-weight: 300;
  font-size: 17px;
  padding-top: 15px;
  opacity: 0.8;
}

.product-list.product {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-list.product-image {
  width: 100%;
  height: 80%;
  flex-grow: 1;
  position: relative;
}

.product-list.product-info {
  padding-top: 15px;
}

/* =================
    media queries
   ================= */
@media all and (max-width: 980px) {
  /* common */

  .nav-horizontal {
    padding: 25px 0 15px;
    width: 90%;
  }

  .nav-items.left,
  .nav-items.right {
    display: none;
  }

  .fa-bars,
  .fa-cart-shopping {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-container {
    width: 90%;
  }

  /* homepage */

  .new-collection-text-container {
    position: absolute;
    top: 25%;
    right: 10%;
  }

  .new-collection-title {
    font-size: 30px;
  }

  .new-arrivals-section {
    width: 90%;
  }
  .new-arrivals-container {
    grid-template-columns: repeat(3, minmax(200px, 250px));
  }

  .our-story-section {
    width: 90%;
  }

  .our-story-section > img {
    width: 280px;
    height: 180px;
  }

  .our-story-text-container {
    font-size: 19px;
  }

  .all-collections-section {
    width: 90%;
  }

  /* shop page */

  main.shop-page {
    width: 90%;
  }

  .products-container {
    grid-template-columns: repeat(2, minmax(210px, 270px));
    justify-content: space-around;
  }
}

@media all and (max-width: 920px) {
  /* homepage */

  .all-collections-container {
    grid-template-columns: minmax(250px, 430px) minmax(40px, 70px) minmax(
        150px,
        240px
      );
    grid-template-rows: 170px 200px 300px;
  }

  /* sofa */
  .collection-container:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  /* chair */
  .collection-container:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  /* decor */
  .collection-container:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2;
    filter: brightness(1.1);
  }

  /* lighting */
  .collection-container:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    filter: brightness(0.98);
  }

  /* mirror */
  .collection-container:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }

  .collection-container:nth-child(4) > a > img {
    object-position: bottom right;
  }
}

@media all and (max-width: 800px) {
  /* common */

  .footer-container {
    flex-direction: column;
  }

  .footer-lists-container {
    margin-bottom: 50px;
  }
  .copyright {
    margin-bottom: -20px;
  }

  /* homepage */

  .intro-section {
    font-size: 19px;
  }
}

@media all and (max-width: 730px) {
  /* homepage */

  .nav-bar.homepage {
    background-color: white;
  }

  .new-collection-section {
    height: 500px;
    margin-top: 50px;
  }

  .new-collection-title {
    font-size: 26px;
  }

  .new-arrivals-container {
    grid-template-columns: repeat(2, minmax(200px, 250px));
    justify-content: space-around;
  }

  .our-story-section {
    width: fit-content;
    flex-direction: column;
  }

  .our-story-text-container {
    padding-left: 0;
    padding-top: 30px;
    align-items: center;
  }

  .quote {
    text-align: center;
  }

  /* shop page */

  main.shop-page {
    width: 80%;
    flex-direction: column;
    padding-top: 40px;
  }

  .sidebar {
    width: 100%;
  }

  .category-list {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    /* grid-template-rows: repeat(5, auto); */
    /* grid-auto-flow: column; */
  }

  .products-container {
    justify-content: space-between;
  }
}

@media all and (max-width: 555px) {
  /* common */

  .nav-vertical,
  .shopping-cart {
    width: 100%;
  }

  .nav-vertical {
    padding-top: 70px;
    transform: translateX(-100%);
  }

  .nav-vertical > ul {
    width: 290px;
    margin: 0 auto;
  }

  .shopping-cart {
    transform: translateX(100%);
  }

  .footer-lists-container {
    width: 100%;
    max-width: 300px;
  }

  .footer-list-container:first-child {
    margin-right: 50px;
  }

  .footer-list-container.social-media {
    display: none;
  }

  .social-media-icons {
    display: block;
    margin-bottom: 10px;
  }

  /* homepage */

  .new-collection-section {
    height: 410px;
  }

  .new-collection-title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .shop {
    font-size: 18px;
  }

  .intro-section {
    width: 300px;
    font-size: 18px;
    padding: 120px 0 150px;
  }

  .intro-section::after {
    width: 100px;
    left: 100px;
    bottom: 130px;
  }

  .our-story-section {
    padding: 180px 0 150px;
  }

  .quote,
  .our-story {
    font-size: 18px;
  }

  .all-collections-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 170px 170px 250px;
    gap: 15px;
  }

  /* sofa */
  .collection-container:nth-child(1) {
    grid-column: 1 / -1;
    grid-row: 4;
  }

  /* chair */
  .collection-container:nth-child(2) {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  /* decor */
  .collection-container:nth-child(3) {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  /* lighting */
  .collection-container:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  /* mirror */
  .collection-container:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  /* shop page */

  main.shop-page {
    width: 70%;
  }

  .products-container {
    grid-template-columns: minmax(210px, 1fr);
  }

  .product-list.product {
    aspect-ratio: 1/1.1;
    height: auto;
  }

  .search-notice {
    font-size: 19px;
    white-space: normal;
  }
}

@media all and (max-width: 475px) {
  /* homepage */

  .new-arrivals-container {
    grid-template-columns: minmax(200px, 250px);
    height: 650px;
  }

  .our-story-section > img {
    order: 2;
  }

  .our-story-text-container {
    order: 1;
  }

  .our-story {
    position: absolute;
    top: 150px;
    opacity: 1;
    font-size: 22px;
  }

  .collection-name.mirror {
    top: 4%;
    right: 40px;
  }

  .collection-name.lighting {
    top: 20px;
    left: 20px;
  }
}

@media all and (max-width: 435px) {
  /* common */

  .shopping-cart {
    padding: 40px 15px;
  }

  .shopping-cart-item-container > img {
    width: 70px;
    height: 70px;
  }
  .sub-total {
    font-size: 17px;
  }

  /* homepage */

  .new-collection-section {
    height: 320px;
  }

  .new-collection-title {
    font-size: 22px;
  }
}
